@model IEnumerable<ASR.Models.Room>

@{
    ViewData["Title"] = "Availability";
}

<h2>Availability</h2>

<table class="table">
    <thead>
        <tr>
            <th>Room</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                Book
            </td>
        </tr>
}
    </tbody>
</table>
