@using ASR.Data
@model IEnumerable<ASR.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole(Constants.StaffRole))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Availability">
                @Html.TextBox("date", DateTime.Now, new { type = "date" })

                <div class="form-group">
                    <input type="submit" value="Check Availability" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Room</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.RoomID
            </td>
        </tr>
}
    </tbody>
</table>




