<h2>Slots</h2>

<hr />

<div class="row">
  <div class="col-md-3">
      <select class='custom-select' name="studentID" [(ngModel)]='studentID'> 
          <option value='' selected>Filter by students</option>
          <option *ngFor="let student of students">{{ student.schoolID }}</option>
      </select>
  </div>

  <div class="col-md-3">
    <select class='custom-select' name="staffID" [(ngModel)]='staffID'> 
        <option value='' selected>Filter by staff</option>
        <option *ngFor="let staff of staffs">{{ staff.schoolID }}</option>
    </select>
  </div>
</div>

<hr />

<table class="table">
  <thead>
      <tr>
          <th>Start Time</th>
          <th>Staff</th>
          <th>Booked By</th>
          <th>Room</th>
          <th></th>
      </tr>
  </thead>

  <tbody>
    <tr *ngFor="let slot of slots | filterByStaffOrStudentID : staffID | filterByStaffOrStudentID : studentID" >
      <td>{{ slot.startTime | date:"EE h a, dd MMMM yy" }}</td>
      <td>{{ slot.staff.schoolID }}</td>
      <td>
          <select (change)="updateSlotStudent(slot,$event.target.value)" class='custom-select'>
              <option selected hidden>{{ slot.student?.schoolID }}</option>
              <option value=''>Cancel Booking</option>
              <option *ngFor="let student of students">{{ student.schoolID }}</option>
          </select>
      </td>
      <td>{{ slot.roomID }}</td>
      <td><button (click)="deleteSlot(slot)" class="btn btn-danger" >Delete</button></td>
    </tr>
  </tbody>
</table>
