<div class="container">
    <img src="~/images/mentoring.jpg" alt="Mentoring" style="width:100%;">
    <div class="text-block" style="width:40%;">
        <p class="display-4">Welcome to ASR</p>
        <p class="lead">Appointment Scheduling and Reservation System</p>
    </div>
</div>

<div class="container bg-light-blue p-5">
    <p class="h4 center-text pb-3">Reservation management done right</p>
    <p class="h5 center-text pb-3">"Great for private and internal meetings" - Matthew Bolger</p>
    <p class="h5 center-text pb-3">"Very classy interface" - Shekhar Kalra</p>
    <div class="d-flex justify-content-center pt-4">
        <div class="card bg-light col-md-5 mr-2" >
            <img class="card-img-top" src="~/images/students.jpg" alt="Students">
            <div class="card-body center-text">
                <h5 class="card-title">Students</h5>
                <ul class="list-unstyled">
                    <li>Personalised mentoring</li>
                    <li>Get help with your assignments</li>
                    <li>Stay on top of your course</li>
                </ul>
            </div>
        </div>
        <div class="card bg-light col-md-5 ml-2">
            <img class="card-img-top" src="~/images/staff.jpg" alt="Staff">
            <div class="card-body center-text">
                <h5 class="card-title">Staff</h5>
                <ul class="list-unstyled">
                    <li>Structure your consultations</li>
                    <li>Reserve your private space</li>
                    <li>Book up to 4 rooms a day</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center pt-5">
        <div>
            <a href="/Identity/Account/Register" class="btn btn-outline-primary">Sign Me Up</a>
        </div>
    </div>
</div>

<div class="container bg-light">
    <div class="d-flex justify-content-center">
        <div>
            
        </div>
    </div>
</div>

<div class="container bg-grey p-5">
    <div class="d-flex justify-content-center">
        <div class="center-text">
            <p>Proud partners with </p>
            <img src="~/images/rmit.png" alt="RMIT University">
            
        </div>
    </div>
</div>


   
